<div class="hobbies-section">
  {% if page.hobbies.intro %}
    <p class="hobbies-intro">{{ page.hobbies.intro }}</p>
  {% endif %}
  
  {% if page.hobbies.items %}
    <div class="hobbies-content">
      {% for hobby in page.hobbies.items %}
        <span class="hobby-item">{{ hobby }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>
